<div class="error-container">
    <h1><%= title %></h1>
    <p class="status-code"><%= statusCode %></p>
    <p class="message"><%= message %></p>
    <p class="suggestion"><%- suggestion %></p>
</div>